.magic-bar {
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  bottom: 0;
  overflow-y: scroll;
  width: 300px;
  padding: 20px;
  border-left: 1px solid #aaa;
  background-color: white;
  transform: translateX(0);
  transition: transform 0.55s ease;
  left: 0;
  z-index: 99;

}

.show-me {
  position: absolute;
  left: 0;
  top: 61px;
  background: pink;
  z-index: 10;
  padding: 5px 20px;
  max-width: 260px;
  width: 100%;
  z-index: 100;
}

.magic-bar--closed {
  transform: translateX(-400px);
}

.magic-bar .image-list .item-image {
  cursor: pointer;
  display: block;
  width: 48%;
  margin: 1%;
}

.magic-bar .image-list .item-image:hover {
  opacity: 0.8;
}

.magic-bar .image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
