.ccs3-asset-drawer {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 400px;
  border-right: 1px solid #eee;
  background-color: white;
  z-index: 1000;
  transform: translateX(-400px);
  transition: transform 0.55s ease;
}

.ccs3-container {
  padding: 20px;
}

.ccs3-asset-drawer__close {
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  right: 10px;
  top: 1px;
}

.ccs3-magic-bar__uploader {
  border: 1px solid #ddd;
  padding: 7px;
  height: 27px;
  line-height: 27px;
}

.ccs3-pull-right {
  float: right;
}

.ccs3-btn {
  background: #2e7de1;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 3px 10px;
}

.ccs3-btn--icon {
  border-radius: 0;
  border-top-left-radius: 4px;
  cursor: pointer;
  background: white;
  padding: 5px 5px 0 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ccs3-btn--icon:focus {
  outline: none; 
}

.ccs3-btn--icon img {
  height: 20px;
  width: 20px;
}

.ccs3-asset-drawer__close:hover {
  text-decoration: none;
}

.ccs3-asset-drawer__close, .ccs3-asset-drawer__close:visited {
  color: #888;
}

.ccs3-show-me {
  background-color: #21366D;
  color: white;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  top: auto;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.ccs3-asset-drawer--open {
  transform: translateX(0);
}

.magic-bar__asset-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.magic-bar__asset-wrapper {
  position: relative;
  cursor: pointer;
  display: block;
  width: 48%;
  margin: 1%;
}

.magic-bar__image {
  width: 100%;
}

.magic-bar__image:hover {
  opacity: 0.8;
}

.magic-bar__asset-wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
}

.magic-bar__controls {
  display: flex;
  justify-content: space-between;
}

.pdf-placeholder{
  padding: 20px 10px;
  background-color: #ccc;
}
