.magic-bar {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 400px;
  padding: 20px;
  border-right: 1px solid #eee;
  background-color: white;
  z-index: 1000;
  transition: transform 0.55s ease;
}

.show-me {
  position: absolute;
  left: 0;
  top: 61px;
  background: pink;
  z-index: 100;
  width:300px
}

.magic-bar--closed {
  transform: translateX(-400px);
}

.magic-bar__image-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.magic-bar__image-wrapper {
  position: relative;
  cursor: pointer;
  display: block;
  width: 48%;
  margin: 1%;
}

.magic-bar__image {
  width: 100%;
}

.magic-bar__image:hover {
  opacity: 0.8;
}

.magic-bar__image-wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
}

.magic-bar__controls {
  display: flex;
  justify-content: space-between;
}
